[submodule "FATE-M"]
	path = FATE-M
	url = https://github.com/smmercuri/FATE-M
[submodule "FATE-H"]
	path = FATE-H
	url = https://github.com/smmercuri/FATE-H
[submodule "FATE-X"]
	path = FATE-X
	url = https://github.com/smmercuri/FATE-X
